body{
    background-image: url("https://th.bing.com/th/id/R.aba20ded7c5e2f615e932d656bf9a92b?rik=Po9jGjcQ67KIYQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f1LyvWF1.jpg&ehk=2E%2b3XfdKnqHK2fEAdloQkMuzWyG5wh5OEXwCoEQvFoU%3d&risl=&pid=ImgRaw&r=0");
background-position: center;
background-size: cover;
}
.heading{
    width:400px;
}

